<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Ejemplo de diseño microelectronico digital">
        <meta name="keywords" content="Investigación, ingenería electrónica, matemática aplicada, ciencias de la computación">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">

        <!-- Mi Estilo -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <!-- Titulo -->                
        <title>Diseño</title>
    </head>
    <body>
        <header class="bg-primary">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary container justify-content-between">
                <a class="navbar-brand" href="/">Diseño</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ejemplo2">Ejemplo2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ejemplo3">Ejemplo3</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="contenido container pb-4">
            {% block body %}
            {% endblock %}
        </div>
       
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>

